<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(reason != "") { %><h3><%= reason %></h3><% } %>
    <p>Please connect Runkeeper by clicking below<br />
        <a href="<%= rk_auth_url %>"><img src="/images/connect-blue-white-200x38.png" alt="Connect with Runkeeper" /></a></p>
  </body>
</html>
